<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
					<% if(!currentUser) {%>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign Up</a></li>
					<% }else{ %>
					<li><a>signed in as <%=currentUser.username%></a></li>
                    <li><a href="/logout">Logout</a></li>
					<% } %>
                </ul>
            </div>
        </div>
    </nav>
		<div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
		
		 <div class="container">
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/login" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>

                <div class="form-group ">
                    <input type="submit" class="btn btn-large btn-primary" value="login">
				 <a href="/campgrounds" class="btn btn-sm btn-primary" style="{display:inline;}">Go Back</a>	
                </div>
				
            </form>
           
        </div>
    </div>
</div>
	</body>
</html>